.form-control-sm {
  width: 3rem;
}

.increment-button {
  background-color: #333;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.selected-number {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3.5rem;
  width: 2.5rem;
  color: #ffffff;
  font-family: "Heebo", sans-serif;
}

.ticket-selection-title {
  font-family: "Heebo", sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.ticket-type {
  color: #ffffff;
  white-space: nowrap;
  font-size: 1.25rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.ticket-price-line {
  opacity: 0.7;
  font-size: 0.875rem;
  color: aliceblue;
}
.image-container {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.movie-info-title {
  font-family: "Heebo", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

.movie-info-subtitle {
  font-family: "Heebo", sans-serif;
  color: #ffffff;
}

.screen-image-container {
  width: 80%;
}
.seat-col {
  overflow: hidden; /* Prevent horizontal scrollbar */
}

.seat-container {
  width: 100%; /* Fixed width for the container */
  display: flex;
  align-items: center;
  justify-content: center; /* Adjust the number of columns */
}

.seat {
  width: 20px;
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  cursor: pointer;
  margin: 10px;
}

.selected {
  background-color: #f00;
  border-color: #f00;
}
.available {
  background-color: #fff;
  border-color: #fff;
}

.unavailable {
  background-color: #41424c;
  border-color: #41424c;
  cursor: not-allowed;
}
.btn-booking {
  border-radius: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 10rem;
}

.ticket-sec-title {
  font-size: 100%;
  color: #41424c;
  margin: 5px;
}

.ticket-sec-info {
  font-size: 100%;
  font-weight: bold;
  color: #000000;
  margin: 5px;
}
@media (max-width: 500px) {
  .seat {
    margin: 2px;
  }
}
@media (max-width: 530px) {
  .col {
    padding: 0 5px;
  }
  .ticket-sec-info {
    font-size: 70%;
  }
}

@media (max-width: 330px) {
  .increment-button {
    height: 2.9rem;
    width: 2.9rem;
  }
  .selected-number {
    font-size: 1rem;
    line-height: 3.5rem;
    width: 1.5rem;
  }
}
