.footer {
  background-color: #000000;
  padding: 30px 0;
}

.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #919191;
}

.footer p {
  font-size: 1rem;
  color: #919191;
}

.footer-logo {
  width: 100%;
  height: 100%;
  margin-bottom: 6rem;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
}
