.container {
  color: "white";
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text_container {
  color: white;
  font-family: "Heebo", sans-serif;
}

.text_container h2 {
  font-weight: bold;
}
.text_container span {
  font-weight: bold;
}
.tags-container {
  display: flex;
  justify-items: center;
  font-weight: bold;
}

.tags-container span {
  padding-left: 0.3rem;
}

.text_container p {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-family: "Heebo", sans-serif;
}
.actors_section_title {
  color: white;
  font-size: 1.2rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}
.actor-item {
  flex-basis: 25%; /* Set a fixed width to control the number of columns on larger screens */
  max-width: 150px; /* Limit the width of each item */
}

.actor-image {
  width: 4rem;
  height: 4rem;
}

.btn-details {
  border-radius: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.btn-trailer {
  color: #ffffff;
  padding-left: 0.5rem;
}
.custom-modal .modal-content {
  background-color: #f0f0f0;
}

/* Style the custom modal background color */
.custom-modal .modal-content {
  background-color: #000000;
  position: relative;
  padding: 0;
  margin: 0;
  /* Set the position to relative */
}

/* Style the custom close button */
.custom-close-button {
  position: absolute;
  top: -1.375rem;
  right: -1.375rem; /* Adjust the right position as needed */
  background-color: #000;
  color: #000;
  border: none;
  font-size: 16px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 0.125rem solid hsla(0, 0%, 100%, 0.24);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  color: #fff;
}

.icon-close-btn {
  font-size: 1.2rem;
}

.related_movies_title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
}

@media (max-width: 590px) {
  .custom-close-button {
    position: fixed;
    display: block;
    top: 6rem;
    right: 0.5rem;
    background: none;
    border: none;
  }
  .icon-close-btn {
    font-size: 2rem;
  }
}
