.container {
  color: "white";
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text_container {
  color: white;
  font-family: "Heebo", sans-serif;
}

.text_container h2 {
  font-weight: bold;
}
.text_container span {
  font-weight: bold;
}
.tags-container {
  display: flex;
  justify-items: center;
  font-weight: bold;
}

.tags-container span {
  padding-left: 0.3rem;
}

.text_container p {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-family: "Heebo", sans-serif;
}
.actors_section_title {
  color: white;
  font-size: 1.2rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}
.actor-item {
  flex-basis: 25%; /* Set a fixed width to control the number of columns on larger screens */
  max-width: 150px; /* Limit the width of each item */
}

.actor-image {
  width: 4rem;
  height: 4rem;
}

.btn-details {
  border-radius: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.btn-trailer {
  color: #ffffff;
}
